//card//
.card-slider {
    display: flex;
    gap: 38px;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: -74px;
    @include absCenter(-74px, auto, 0px, auto);


    @include respond(too-small-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }

    @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }
   
    @include respond(mini-tab-port) {
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        gap: 10px;
    }


    @include respond(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.arrow {
    display: flex;
    padding-top: 50px;
    @include absCenter(0px, auto, 0px, auto);

    @include respond(phone) {
        display: none;
    }

    @include respond(tab-port) {
        display: none;
    }

    &-left:hover {
        cursor: pointer;
        background-color: #0E6FFF;
    }

    &-right {
        margin-left: 25px;

        &:hover {
            cursor: pointer;
            background-color: #0E6FFF;

            &:hover {
                cursor: pointer;
                background-color: #0E6FFF;
            }
        }
    }

}