// header //
.header-part {
    background-color: $header-hero-bg;
}

.nav-content {
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        gap: 21px;
    }
}

.nav-list__ul {
    list-style: none;

    &__li {
        display: inline-block;
        padding: 0 12px;

        &--formate {
            text-decoration: none;
            font-weight: 700;
            font-size: 21px;
            line-height: 135%;
            color: #D1DCE5;
        }
    } 
}

.nav-button__btn {
    background-color: #23242A;
    border: 2px solid #D1DCE5;
    padding: 12px 20px;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
}