// hero section //

.hero-section {
    background-color: $header-hero-bg;
    position: relative;
    height: 74vh;

    &__content {
        position: absolute;
        top: 43%;
        left: 42%;
        transform: translate(-35%, -50%);
        display: flex;
        flex-direction: column;

        &--t1 {
            font-weight: 500;
            font-size: 19px;
            line-height: 120%;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            text-align: center;
            color: #FFFFFF;
        }

        &--t2 {
            font-weight: 600;
            font-size: 50px;
            line-height: 110%;
            letter-spacing: -0.045em;
            text-align: center;
            color: #FFFFFF;
            margin-top: 1px;
        }
    }
}