//section 10

.section-10 {
    @include absCenter(96px, auto, 0px, auto);
    padding: 30px 0px;
}

.section10-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 27px;
}

.section10-container__img{
    max-height: 411px;
    height: 100%;
    max-width: 686px;
    width: 100%;
}

.section10-container__right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 36px;
    align-items: end;
}

.section10-container__left{
    display: flex;
    padding-top: 107px;
}

.section10-container__right__p1 {
    max-width: 598px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.section10-container__right__p1--formate1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.045em;
    color: #23242A;
    margin: 0px;
}

.section10-container__right__p1--formate2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #23242A;
}

.section10-container__right--imgf {
    max-width: 794px;
    width: 100%;
}