//section 11//
.section-11 {
    // max-width: 1420px;
    // margin: auto;
    // padding-inline: 5%;
    @include absCenter(196px, auto, 0px, auto);
    padding: 30px 0px;


    @media screen and (max-width: 1060px) {
        max-width: 906px;
        margin: 25px auto 0px auto;
    }

    @media screen and (max-width: 960px) {
        max-width: 855px;
        margin: 25px auto 0px auto;
    }

    @media only screen and (max-width: 890px){
        max-width: 744px;
        width: 100%;
    }

    @media screen and (max-width: 840px) {
        max-width: 680px;
        margin: 0px auto 0px auto;
    }

    @media screen and (max-width: 700px) {
        max-width: 501px;
        margin: 67px auto 0px auto;
        padding: 0px;
    }

    @media screen and (max-width: 530px) {
        max-width: 375px;
        margin: 67px auto 0px auto;
        padding: 0px;
    }
}

.section11-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6px;

    @media screen and (max-width: 1060px) {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
    }
    @media screen and (max-width: 960px) {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
    }

    @media screen and (max-width: 840px) {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    @media screen and (max-width: 530px) {
        grid-template-columns: 1fr;
    }
}

.section11-container__left {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // // max-height: 215px;
    // gap: 39px;

    // @include respond(tab-port) {
    //     max-height: 100%;
    //     gap: 29px;
    //     align-items: center;
    //     justify-items: center;
    // }
    // @include respond(phone) {
    //     max-height: 100%;
    //     gap: 29px;
    //     align-items: center;
    //     justify-items: center;
    // }

    @media screen and (max-width: 700px) {
        grid-template-rows: 1fr;
    }

    @media screen and (max-width: 530px) {
        grid-template-rows: 1fr;
    }
}


.section11-container__left__p1 {
    display: flex;
    flex-direction: column;

    // @include respond(phone) {
    //     justify-content: center;
    //     align-items: center;
    // }

   
}

.section11-container__left__p1--f1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.045em;
    color: #23242A;
    margin-top: 0px;
    margin-bottom: 15px;

    @media screen and (max-width: 1060px) {
        font-size: 40px;
      }

    @media screen and (max-width: 960px) {
        font-size: 40px;
    }

    @media screen and (max-width: 840px) {
        font-size: 32px;
    }

    @media screen and (max-width: 700px) {
        font-size: 37px;
    }

    @media screen and (max-width: 530px) {
        font-size: 34px;
    }
}

.section11-container__left__p1--f2 {
    font-weight: 400;
    font-size: 21.1px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #23242A;
    max-width: 574px;

    // @include respond(phone) {
    //     max-width: 408px;
    //     text-align: center;
    //     margin-top: 37px;
    // }

    @media screen and (max-width: 700px) {
        font-size: 20.3px;
    }

    @media screen and (max-width: 530px) {
        font-size: 20.3px;
    }
}

// .section11-container__left__p2--formate {
//     max-width: 574px;
//     width: 100%;

//     @include respond(phone) {
//         max-width: 408px;
//     }
//     @include respond(mini-phone) {
//         max-width: 405px;
//     }
// }

.section11-container__left__img{
    max-width: 574px;
    width: 100%;
}

.section11-container__right {
    display: flex;
    flex-direction: column;

    // @include respond(tab-port) {
    //     align-items: center;
    //     justify-content: center;
    // }
    // @include respond(phone) {
    //     align-items: center;
    //     justify-content: center;
    // }
}

.section11-container__right--formate {
    max-height: 786px;
    height: 100%;

    @media screen and (max-width: 960px) {
        max-height: 597px;
    }

    @media screen and (max-width: 840px) {
        max-height: 575px;
    }

    @media screen and (max-width: 700px) {
        max-height: 691px;
        width: 100%;
    }

    @media screen and (max-width: 530px) {
        height: 100%;
        width: 100%;
    }


    // @include respond(mini-phone) {
    //     max-width: 390px;
    // }
}