//section07
.section-07 {
    @include absCenter(156px, auto, 0px, auto);
    padding: 30px 0px;

    @include respond(tab-port) {
        @include absCenter(25px, auto, 0px, auto);
        padding: 3px 0px;
    }

    @include respond(phone) {
        @include absCenter(5px, auto, 0px, auto);
    }
}

.secttion07-containter01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


    @include respond(tab-port) {
        flex-direction: column;
        gap: 24px;
        max-width: 503px;
        margin: 0px auto;
    }

    @include respond(phone) {
        flex-direction: column;
        gap: 24px;
        max-width: 403px;
        margin: 0px auto;
    }
}

.secttion07-containter01--formate {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.045em;
    color: #23242A;
    margin: 0px;
}

.secttion07-containter01__txt {
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.secttion07-containter01__txt--formate1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #0E6FFF;
}

.secttion07-containter02 {
    display: flex;
    gap: 35px;
    margin-top: 57px;


    @include respond(medium-desktop) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    @include respond(small-desktop) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    @include respond(too-small-desktop) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    @include respond(tab-port) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    @include respond(mini-tab-port) {
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        gap: 10px;
    }

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
}

.card-new {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    max-width: 310px;
    width: 100%;

    @include respond(phone) {
        max-width: 390px;
    }
}

.card__top {
    min-height: 250px;
    padding: 20px 29px 16px 22px;
}

.card__footer--new-formate {
    margin: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: rgba(17, 19, 30, 0.2);

    &:hover {
        color: #0E6FFF;
        text-decoration: underline;
        cursor: pointer;
    }
}

.card__line--formate {
    width: 310px;
    background: #E5E5E5;
}