//section 05 //
.section-05 {
    @include absCenter(81px, auto, 0px, auto);
    padding: 30px 0px;

    @include respond(tab-port) {
        @include absCenter(3px, auto, 0px, auto);
        padding: 0px 0px;
    }
    @include respond(phone) {
        @include absCenter(1px, auto, 0px, auto);
    }
}

.section5-container {
    display: flex;
    flex-direction: column;
    
    @include respond(too-small-desktop) {
        justify-content: center;
        align-items: center;
    }

     @include respond(tab-port) {
        justify-content: center;
        align-items: center;
    }

    @include respond(phone) {
        justify-content: center;
        align-items: center;
    }

    &__header--formate {
        font-weight: 600;
        font-size: 48px;
        line-height: 110%;
        letter-spacing: -0.045em;
        color: #23242A;
        margin-bottom: 22px;


         @include respond(tab-port) {
            @include absCenter(1px, auto, 0px, auto);
            font-size: 32px;
            text-align: center;
        }

        @include respond(phone) {
            @include absCenter(1px, auto, 0px, auto);
            max-width: 403px;
            font-size: 32px;
            text-align: center;
        }

       
        
    }

    &__para--formate {
        font-weight: 400;
        font-size: 20.3px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #23242A;
        max-width: 518px;
        width: 100%;

        @include respond(phone) {
            max-width: 403px;
            text-align: center;
        }

        // @include respond(tab-port) {
        //     max-width: 403px;
        //     text-align: center;
        // }
    }

    &__lp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        @include respond(too-small-desktop) {
            grid-template-columns: 1fr;
            gap: 22px;
            align-items: center;
            justify-items: center;
            margin-top: 20px;
        }
        
         @include respond(tab-port) {
            grid-template-columns: 1fr;
            gap: 22px;
            align-items: center;
            justify-items: center;
            margin-top: 20px;
        }
        @include respond(phone) {
            grid-template-columns: 1fr;
            gap: 22px;
            align-items: center;
            justify-items: center;
        }


        &__p1 {
            display: flex;
            gap: 28px;

            @include respond(phone) {
                gap: 18px;
                max-width: 403px;
            }

            &--imgf {
                max-width: 40px;
                width: 100%;
                max-height: 40px;
                height: 100%;
                padding-top: 15px;
            }

            &__txt {
                max-width: 409px;
                width: 100%;

                &--formate1 {
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 120%;
                    letter-spacing: -0.03em;
                    color: #23242A;
                }

                &--formate2 {
                    font-weight: 400;
                    font-size: 16.3px;
                    line-height: 120%;
                    letter-spacing: -0.01em;
                    color: #23242A;
                }
            }
        }

        &__p2 {
            display: flex;
            gap: 28px;

            @include respond(phone) {
                gap: 18px;
                max-width: 403px;
            }

            &--imgf {
                max-width: 40px;
                width: 100%;
                max-height: 40px;
                height: 100%;
                padding-top: 15px;
            }

            &__txt {
                max-width: 449px;

                &--formate1 {
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 120%;
                    letter-spacing: -0.03em;
                    color: #23242A;
                }

                &--formate2 {
                    font-weight: 400;
                    font-size: 16.3px;
                    line-height: 120%;
                    letter-spacing: -0.01em;
                    color: #23242A;
                }
            }
        }
    }
}